{% extends 'base.html' %}
{% block title %} {{rfile}} - {{person}}  {% endblock %}
{% block body %}
        <div class="">
                         <h1>View <span class="badge rounded-pill bg-light text-dark">{{person}} </span> </h1>
                         <div>
                            <form method="POST" autocomplete="off" oninput="{%for i in range(0, len-1)%}reduce_{{i}}.value=parseInt(maxgrade_{{i}}.value)-parseInt(grade_{{i}}.value);var pt=reduce_{{i}}.value/( parseInt(maxgrade_{{i}}.value) +1 ); if(pt<0){var c= 'rgba(76, 175, 80, 0.3)'}else{c='rgba(250,128,114,'+String(pt) +')'};$('output#reduce_{{i}}').css('background-color', c );{%endfor%}">
                                <table class="table  table-striped table-hover caption-top">
                                    <caption>Grading on {{rfile}} </caption>
                                    <thead>
                                        <tr class="sticky-top" style="background-color: white;" >
                                            <th maxwidth=40px  scope="col" >Section</th>
                                            <th  scope="col">Description</th>
                                            <th  scope="col">max pts</th>
                                            <th  scope="col">reduce</th>
                                            <th scope="col"> pts</th>
                                            <th scope="col"> comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%for i in range(0, len)%}
                                        <tr>
                                            {%if data[i][0] == "Comment"%}
                                            <td>{{data[i][0]}}</td>
                                                <td colspan="4"><input type="text"name="grade_{{i}}"style="width:60px; display:none" value="{{grades[i]}}"><textarea  rows="10"  class="form-control" type="text"name="comment_{{i}}"value="{{comments[i]}}"  style="font-size: small;">{{comments[i]}}</textarea></td>
                                            {%else%}
                                             
                                                <td>{{data[i][0]}}</td>
                                                <td  style="font-size: small;">{{data[i][1]}}</td>
                                              
          
                                                {%if data[i][2]|string|length < 2%}
                                                    <td> <hr> <input type="text"name="maxgrade_{{i}}"style="width:60px; display:none" value=0></td>
                                                    <td><hr><output class="form-control text-danger" type="text" name="reduce_{{i}}" id="reduce_{{i}}" style="width:60px; display:none;"  for=""></output></td>

                                                    <td> <hr> <input type="text"name="grade_{{i}}"style="width:60px; display:none" value="{{grades[i]}}"></td>
                                                    
                                                    <td> <hr> <textarea type="text"name="comment_{{i}}"style="display:none" value="{{comments[i]}}"  style="font-size: small;"></textarea></td>
                                                {%else%}  
                                                    <td><input class="form-control" type="text" name="maxgrade_{{i}}" id="maxgrade_{{i}}" style="width:60px;" disabled value="{{data[i][2]}}"></td>
                                                    <td><output class="form-control text-secondary" type="text" name="reduce_{{i}}" id="reduce_{{i}}" style="width:60px; background-color:rgba(250,128,114,{{ (data[i][2]-grades[i]|float) / (data[i][2]+2)}})"  for="maxgrade_{{i}} -grade_{{i}}">{{data[i][2]-grades[i]|float}}</output></td>
                                                    <td><input  class="form-control" type="text" name="grade_{{i}}"style="width:60px" value="{{grades[i]}}"></td>
                                                    <td><textarea  class="form-control" type="text" name="comment_{{i}}"value="{{comments[i]}}"  style="font-size: small;">{{comments[i]}}</textarea></td>
                                                {%endif%}
                                            {%endif%}
                                        </tr>
                                    {%endfor%}
                                    </tbody>
                                </table>
                                <center>
                                <button type="sumbmit"  class="btn btn-outline-dark">
                                    POST
                                </button>
                            </center>
                            </form>
                         </div>
       </div>
{% endblock %}

